@inherits AppComponentBase

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid text-white">
        @* Navigation menu *@
        <AppNavMenu />

        @* User info *@
        <div class="nav-item d-none d-sm-block">
            <UserInfo />
        </div>
    </div>
</nav>
